@font-face {
  font-family: 'Minecraft';

  src: url('../fonts/Minecraftia-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;

}

:root {
  --minecraft-font : 'Minecraft';

}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*box-shadow: 0 0 0 3px  red inset;*/
    font-family: var(--minecraft-font);
  }
  
  body {
  width: 100%;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  h1,h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  ul {
  list-style: none;
  }
  
  a {
  text-decoration: none;
  }
  
  img {
  width: 100%;
  }
  
  li{
  display: flex ;
  align-items: center;
  }
  .minecraft-txt {
    font-family: var(--minecraft-font);
    color: #fff;
  }

  /*==================== INDEX ====================*/
.main-content {
  
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.index-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: fit-content;
}
.index-title img {
  max-width: 1024px;
}
.index-title h1 {
  color: #DFD5D6;
  text-align: center;
  text-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25),
    -6px -6px 0 #000,  
    -6px  6px 0 #000,
      6px -6px 0 #000,
      6px  6px 0 #000,
    -6px  0px 0 #000,
      6px  0px 0 #000,
      0px -6px 0 #000,
      0px  6px 0 #000;
  font-size: 40px;
  position: absolute;
  bottom: 0;
}


.index-content,
.btn-box {
  display: flex;
  flex-direction: column; /* Alignement vertical pour les boutons principaux */
  align-items: center;
  justify-content: center;
  gap: 43px; /* Espacement entre les sections */
}

.btn-bot {
  display: flex;
  flex-direction: row; /* Alignement horizontal par défaut */
  gap: 15px; /* Espacement entre les boutons */
  justify-content: center; /* Centrer les boutons */
  width: 100%; /* Prendre toute la largeur disponible */
  margin-top: 15px; /* Espacement supplémentaire si nécessaire */
}

.btn-bot-box {
display: flex;
flex-direction: row; /* Assure que les boutons sont alignés horizontalement */
gap: 15px; /* Espacement entre les boutons */
justify-content: center; /* Centre les boutons horizontalement */
margin-left: -69px; /* Décale les boutons vers la gauche */
}

.index-btn,
.index-btn-mid,
.index-btn-small {
  border: 3px solid #000;
  background: url('../img/index-btn-bg.png');
  background-size: cover;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: border 0.3s ease; 
}

.index-btn {
  width: 522.599px; 
}

.index-btn-mid {
  width: 254.024px; 
}

.index-btn-small {
  background-color: #6F6F6F;
  box-shadow: 2.85px 2.85px 0px 0px #AAA inset, -2.85px -5.275px 0px 0px #585858 inset;
  padding: 0 10px; 
}

.index-btn span,
.index-btn-mid span {
  box-shadow: 4.85px 4.85px 0px 0px #AAA inset, -4.85px -7.275px 0px 0px #585858 inset;
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100%;
  font-size: 18px; 
}

.index-btn-mid,
.index-btn-small {
  max-width: 90%; /* Largeur maximale pour les petits écrans */
  font-size: 1rem; /* Taille de police relative */
}

.index-btn:hover,
.index-btn-mid:hover,
.index-btn-small:hover {
  border: 3px solid #fff;
  transition: 0.3s ease;
}

.index-btn-small img {
  max-width: 33px;
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw; 
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}

.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(1.5);
  pointer-events: none;
}

@media screen and (max-width: 1080px) and (min-width: 730px) {
  .video-background {
    scale: 1.8;
  }
}
@media screen and (max-width: 729px) and (min-width: 530px) {
  .video-background {
    scale: 2.5;
  }
}
@media screen and (max-width: 529px){
  .video-background {
    scale: 3.1;
  }
}

.index-mobile {
  display: none;
}

@media screen and (max-width: 650px) {
  .index-title {
    padding-top: 40px;
}
.index-mobile {
    display: flex;
    gap: 15px;
}
.index-desktop {
    display: none;
}
.index-btn,
.index-btn-mid,
.index-btn-small {
  width: 200%;
  font-size: 16px; 
}
.index-btn-small,
.index-btn-mid {
  width: 90%; /* Ajuste la largeur pour un meilleur affichage sur mobile */
  font-size: 18px;
  }
.index-btn {
  flex-direction: column; /* Empiler les boutons verticalement sur les petits écrans */
  align-items: center; /* Centrer les boutons */
 }
.index-btn-mid {
  width: 70%; 
}
.btn-bot,
.btn-bot-box {
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}
.btn-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-bot-box {
  width: 90vw;
  margin-left: 0; /* Supprime le décalage à gauche en mode téléphone */
  width: 90vw; /* Garde une largeur responsive */
  justify-content: center;
}
.index-btn-small {
  width: auto;
}
.main-content {
  gap: 80px;
}
}
@media screen and (max-width: 450px) {
  .btn-bot-box {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 800px) and (min-width: 540px) {
  .index-title h1  {
    font-size: 30px;
    bottom: -10px;
    text-shadow:
    0px 4px 4px rgba(0, 0, 0, 0.25),
    -4px -4px 0 #000,  
    -4px  4px 0 #000,
     4px -4px 0 #000,
     4px  4px 0 #000,
    -4px  0px 0 #000,
     4px  0px 0 #000,
     0px -4px 0 #000,
     0px  4px 0 #000;
}
}
@media screen and (max-width: 539px) and (min-width: 370px)  {
  .index-title h1  {
    font-size: 25px;
    bottom: -20px;
    text-shadow:
    0px 4px 4px rgba(0, 0, 0, 0.25),
    -4px -4px 0 #000,  
    -4px  4px 0 #000,
     4px -4px 0 #000,
     4px  4px 0 #000,
    -4px  0px 0 #000,
     4px  0px 0 #000,
     0px -4px 0 #000,
     0px  4px 0 #000;
}
}
@media screen and (max-width: 369px)  {
  .index-title h1  {
    font-size: 25px;
    bottom: -30px;
    text-shadow:
    0px 4px 4px rgba(0, 0, 0, 0.25),
    -4px -4px 0 #000,  
    -4px  4px 0 #000,
     4px -4px 0 #000,
     4px  4px 0 #000,
    -4px  0px 0 #000,
     4px  0px 0 #000,
     0px -4px 0 #000,
     0px  4px 0 #000;
}
}


  /*==================== EXPERIENCES ====================*/
.body-experiences {
  color:#fff;
  background: url("../img/mud-bg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  
}
.body-txt {
  max-width: 650px;
  text-align: center;
  padding-top: 25px;
}
.experience_content{
  display: flex;
  justify-content: center;
  height: 80vh;
}
.experience_slot-content{
  padding: 1% 0;
  display: flex;
  height: 120x;
}
.experience_slot:hover {
  cursor: pointer;
}
.experience_slot img {
  width: 120px;
  height: auto;
  padding-right: 2%;
  object-fit: cover;
  object-position: center;
}
.experience_liste {
  margin: 3%;
  background-color: rgb(15, 11, 8, .6);
  padding: 2%;
  overflow: auto;
  width: 45vw; 
  box-shadow: 0px -8px 8px 0px #000 inset;
}
.experience_liste-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.experience_texte {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.experience_slot-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.experience_liste h1,
.experience_detail-box h2 {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 10px;
}
.experience_liste h3 {
  font-size: 16px;
  text-align: center;
}
.experience_slot-content-mobile {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}
.experience_detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.experience_slot-content .image-container .overlay {
  display: none; /* Cache l'image overlay par défaut */
  position: absolute; /* Positionne absolument par rapport à son parent */
  top: 0;
  left: 0;
  width: 100%; /* Assurez-vous que la taille de l'overlay correspond à celle de l'image principale */
  height: 100%;
  object-fit: cover; /* Cela garantit que l'image couvre tout l'espace disponible */
}

.experience_slot-content:hover .overlay {
  display: block; /* Affiche l'overlay lorsque l'élément parent est survolé */
  transition: 0.3s ease-in;
}
.experience_slot-content .image-container {
position: relative;
height: min-content;
margin-right: 5px;
}




/* Style pour mobile */
@media (max-width: 899px) {
  .experience_content {
      flex-direction: column;
      height: 55vh;
  }
  .experience_detail,
  .experience_detail-box {
    display: none;
  }
  .mobile_detail .experience_slot-content {
    display : none;
}
  .mobile_detail {
    margin: 0 5% 5% 5%;
  }
  .experience_liste {
    width: auto;
  }
  .experience_slot-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
  .experience_slot-content-mobile {
   padding-top: 10px;
  }
  .body-txt {
    padding-top: 80px;
    font-size: 15px;
  }
  .experience_liste h1, 
  .experience_detail-box h2 {
    font-size: 16px;
    padding-bottom: 0;
  }
  .body-experiences {
    justify-content: space-between;
  }
  .body-experiences .index-btn-mid {
    scale: 0.9;
  }
  .body-experiences .btn-bot,  .body-experiences  .btn-bot-box {
    gap: 5px;
  }
  h3 {
    font-size: 16px;
  }
  h1.competence-title  {
    font-size: 20px;
    padding-top: 50px;
  }
 .competence-content {
    max-height: 55vh;
    margin-bottom: 0;
  }
  .experience_slot img {
    width: 80px;
  }



}

/* Style pour desktop */
@media (min-width: 900px) {
  .experience_content {
      flex-direction: row;
  }

  .experience_detail-box{
    margin: 3%;
    background-color: rgb(15, 11, 8,.6);
    padding: 2%;
    overflow: auto;
    width: 45vw;
    box-shadow: 0px -8px 8px 0px #000 inset;
  }
  .mobile_detail {
    display: none; /* Cache le drop-down en mode desktop */
  }

  .experience_slot-content-mobile img {
    
    width: 30%;
    padding-right: 2%;
  }
}

  /*==================== COMPETENCES ====================*/

  .competence-title {
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
  }
  .competence-content {
    width: 100vw;
    background: rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
    overflow: auto;
    height: 70vh;
    box-shadow: 0px -8px 8px 0px #000 inset;
  }
  .competence-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
  }
  .competence-content img {
    max-width: 120px;
    max-height: 120px;
  }

/*==================== LANGUES ====================*/
.language-content {
  width: 100vw;
  background: rgba(0, 0, 0, 0.50);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
  overflow: auto;
  box-shadow: 0px -8px 8px 0px #000 inset;
}
.language-box {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.language-content a {
  color: #fff;
  padding: 5px 80px 0 80px;

}
.language-content a:hover, 
.language-selected {
  box-sizing: border-box;
  border: 3px solid #fff;
  background-color: #ffffff2c;
}

/*==================== CONTACT ====================*/
.contact-box-middle  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.contact-box {
  width: 100vw;
  background: rgba(0, 0, 0, 0.50);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
  box-shadow: 0px -8px 8px 0px #000 inset;
}
.contact-box-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
}
.contact-box-content input {
  width: 100%;
  background-color: transparent;
  padding: 6px 10px 3px 10px;
  color: #fff;
  border: 3px solid #fff;
}
.contact-box-content input:focus {
  background-color: #ffffff2c;
  outline: none;
}
.contact-box-content textarea {
  width: 100%;
  background-color: transparent;
  padding: 6px 10px 3px 10px;
  color: #fff;
  border: 3px solid #fff;
  resize: none;
  height: 120px;
}
.contact-box-content textarea:focus {
  background-color: #ffffff2c;
  outline: none;
}

.sendBTN {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#confirmation_text,
.sendBTN p {
  font-size: 12px;
  font-family: var(--minecraft-font);
  color: #fff;
  display: none;
}
@media screen and (max-width: 460px) {
  .contact-box-content {
    width: 100%;
    gap: 0;
  }
  .contact-body {
    overflow: auto;
    padding-bottom: 20px;
  }
  .contact-box {
    margin-bottom: 10px;
    padding: 10px;
  }
}

/*==================== BTN RETOUR ====================*/
.retour-btn {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 20px;
  color: #fff;
}
.retour-btn:hover {
  text-decoration: underline;
}




/*==================== LOADER ====================*/

.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.loader {
  background-color: #F0333F;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw; 
  height: 100vh;
  overflow: hidden;
  text-align: center; /* Center the contents */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loaderImage {
  max-width: 500px; /* Adjust as needed */
  margin-bottom: 20px; /* Space between image and progress bar */
}

.progress-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.progress-bar {
  width: 0;
  max-width: 60vw;
  height: 20px; /* Adjust height as needed */
  background-color: #fff; /* Adjust color as needed */
  transition: width 0.3s ease-out;
}


@media screen and (max-width: 1080px) and (min-width: 130px)  {
 .loader .video-background video {
  scale: 1;

 }
}



/*==================== SCROLLBAR ====================*/



::-webkit-scrollbar {
  width: 14px; 
  height: 14px; 
}

::-webkit-scrollbar-track {
  background: #000000da; 
}

::-webkit-scrollbar-thumb {
  background: #C0C0C0;
  box-shadow: -4px 0px 0px 0px #808080 inset;
}

::-webkit-scrollbar-thumb:hover {
  background: #A9A9A9; 
}

::-webkit-scrollbar-thumb:active {
  background: #696969;
}